# ======================
# Frontend
# ======================
node_modules/
dist/
.vite/

# ======================
# Backend build output
# ======================
**/target/

# ======================
# IDE
# ======================
.idea/
*.iml
.vscode/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Env / Config
# ======================
.env
.env.*

# ======================
# Others
# ======================
*.zip
*_files/
app.html
summypayin.html
remove_files.txt
